/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Ovo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #9A7AA0;
}

@media (max-width: 1024px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__arrow-left {
  margin-right: 22px;
}

.header__arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 22px;
}

.header__info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 100%;
  background-color: #614B65;
}

@media (max-width: 1024px) {
  .header__info-top {
    padding: 0 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__info-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info-top__wrapper--text {
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
}

.header__info-top__wrapper--text::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #FFFFFF;
  display: inline-block;
  margin: 0 10px;
}

.header__info-top__wrapper--text:last-child::after {
  display: none;
}

.header__info-top__wrapper--text-bold {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.header__menu {
  max-width: 100%;
  margin: 0 auto;
  height: 79px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .header__menu {
    margin: 0 5%;
  }
}

@media (max-width: 1024px) {
  .header__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(100% - 30px);
  }
}

.header__menu__logo {
  font-family: "Ovo", serif;
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 31px;
}

@media (max-width: 1024px) {
  .header__menu__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 38px;
    font-size: 2.25rem;
  }
}

.header__menu__container {
  z-index: 20;
  max-width: 1217px;
  height: 100%;
}

@media (max-width: 1024px) {
  .header__menu__container {
    display: none;
  }
}

.header__menu__container--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.header__menu__container--list.menu-item:hover .header__menu__category-wrapper,
.header__menu__container--list.menu-item:hover .header__menu__category-wrapper--color {
  display: block;
}

.header__menu__container--link {
  height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 31px;
  line-height: 79px;
}

.header__menu__container--link:hover {
  color: #413543;
}

.header__menu__container--link:hover .header__menu__category-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .header__menu__container--icons {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.header__menu__container--icons > img {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(106%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(106%) contrast(101%);
  margin-right: 31px;
}

@media (max-width: 1024px) {
  .header__menu__container--icons > img.loupe, .header__menu__container--icons > img.user {
    display: none;
  }
  .header__menu__container--icons > img.bag {
    -webkit-filter: invert(30%) sepia(27%) saturate(455%) hue-rotate(244deg) brightness(94%) contrast(90%);
            filter: invert(30%) sepia(27%) saturate(455%) hue-rotate(244deg) brightness(94%) contrast(90%);
    width: 29px;
    margin-right: 0;
  }
}

.header__menu__category-wrapper {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: calc(100% - 6px);
  left: 0;
  border-top: solid 6px #614B65;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  max-height: 316px;
  overflow: auto;
}

.header__menu__category-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: #E5E3E2;
}

.header__menu__category-wrapper::-webkit-scrollbar-thumb {
  background-color: #9A7AA0;
  border-radius: 6px;
}

.header__menu__category-wrapper--color {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: calc(100% - 6px);
  left: 0;
  border-top: solid 6px #614B65;
  background-color: #9A7AA0;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header__menu__category-item {
  width: 100%;
}

.header__menu__category-item:hover {
  background-color: #F1F1F1;
}

.header__menu__category-item--color:hover {
  background-color: #614B65;
}

.header__menu__category-item--color:hover > .header__menu__subcategory-wrapper {
  display: block;
}

.header__menu__category-list {
  width: 100%;
  margin: 0 22px 0 26px;
}

.header__menu__category-link {
  color: #302E2B;
  width: 100%;
  text-decoration: none;
  line-height: 2.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 22px 0 26px;
}

.header__menu__category-link--color {
  color: #FFFFFF;
  width: 100%;
  text-decoration: none;
  line-height: 2.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 22px 0 26px;
}

.header__menu__subcategory-wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: -6px;
  left: 100%;
  border-top: solid 6px #614B65;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: none;
}

.header__menu__subcategory-item {
  width: 100%;
}

.header__menu__subcategory-item:hover {
  background-color: #F1F1F1;
}

.header__menu__subcategory-link {
  color: #302E2B;
  width: 100%;
  text-decoration: none;
  line-height: 2.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 22px 0 26px;
}

.header__menu__mobile-search {
  display: none;
}

@media (max-width: 1024px) {
  .header__menu__mobile-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #FFFFFF;
    height: 48px;
    border: 1px solid #614B65;
    padding: 12px 20px;
    width: calc(100% - 30px);
    margin: 10px 15px 10px 15px;
  }
}

.header__menu__mobile-search-input {
  background: none;
  border: none;
  outline: transparent;
  width: 100%;
}

.header__menu__mobile-search-button {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__mobile-search-button-img {
  width: 25px;
  height: 25px;
  -webkit-filter: invert(30%) sepia(27%) saturate(455%) hue-rotate(244deg) brightness(94%) contrast(90%);
          filter: invert(30%) sepia(27%) saturate(455%) hue-rotate(244deg) brightness(94%) contrast(90%);
}

.header__menu-burger {
  display: none;
}

@media (max-width: 1024px) {
  .header__menu-burger {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 40px;
  }
}

.header__menu-mobile {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 100vw;
  opacity: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__menu-mobile.active {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  opacity: 100%;
  -webkit-transition: 800ms;
  transition: 800ms;
  z-index: 1;
}

.header__menu-mobile--menu {
  width: calc(100% - 80px);
  height: 100%;
  background-color: #413543;
  overflow: auto;
}

.header__menu-mobile--menu::-webkit-scrollbar {
  width: 0;
}

.header__menu-mobile--menu-close {
  width: 80px;
  height: 100%;
}

.header__menu-mobile--menu-close-button {
  width: 100%;
  height: 89px;
  border: none;
  background-color: #FFFFFF;
}

.header__menu-mobile--menu-wrapper {
  border-bottom: 1px solid #bababf;
}

.header__menu-mobile--menu-nav {
  height: 51px;
  background-color: #9A7AA0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__menu-mobile--menu-nav-icons {
  width: 66px;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(106%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(106%) contrast(101%);
}

.header__menu-mobile--menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
}

.header__menu-mobile--menu-wrapper-category {
  border-bottom: 1px solid #FFFFFF;
}

.header__menu-mobile--menu-wrapper-category:last-child {
  border: none;
}

.header__menu-mobile--menu-wrapper-subcategory {
  display: none;
}

.header__menu-mobile--menu-wrapper-subcategory.active-category {
  display: block;
}

.header__menu-mobile--menu-wrapper-subcategory .header__menu-mobile--menu-wrapper-subcategory-items {
  display: none;
}

.header__menu-mobile--menu-wrapper-subcategory .header__menu-mobile--menu-wrapper-subcategory-items.active-subcategory {
  display: block;
}

.header__menu-mobile--menu-nav-category {
  padding-right: 15px;
  padding-left: 26px;
  height: 51px;
  background-color: #614B65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-mobile--menu-nav-category > .mobile-nav-arrow {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  cursor: pointer;
}

.header__menu-mobile--menu-nav-category > .mobile-nav-arrow.active-arrow img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__menu-mobile--menu-title-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
}

.header__menu-mobile--menu-nav-subcategory {
  padding-right: 15px;
  padding-left: 26px;
  height: 51px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #c4c4c47f;
}

.header__menu-mobile--menu-title-subcategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  height: 100%;
  color: #614B65;
  font-size: 13px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
}

.header__menu-mobile--menu-nav-subcategory-child {
  padding-right: 15px;
  padding-left: 26px;
  height: 51px;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #c4c4c47f;
}

.header__menu-mobile--menu-nav-subcategory-child > .subcategory-arrow {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__menu-mobile--menu-nav-subcategory-child > .subcategory-arrow.active img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__menu-mobile--menu-title-subcategory-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  height: 100%;
  color: #614B65;
  font-size: 13px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
}

.header__menu-mobile--menu-nav-item {
  padding-right: 15px;
  padding-left: 40px;
  height: 51px;
  background-color: #E5E3E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #c4c4c47f;
}

.header__menu-mobile--menu-title-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  height: 100%;
  color: #614B65;
  font-size: 13px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  text-transform: capitalize;
}

.body .main-banner {
  position: relative;
}

.body .main-banner__arrow {
  width: 58px;
  height: 58px;
  background-color: #8D94BA4C;
  border-radius: 50%;
  margin: 0 134px 0 134px;
}

@media (max-width: 1024px) {
  .body .main-banner__arrow {
    width: 20px;
    height: 36px;
    margin: 0 15px 0 15px;
    background: none;
    z-index: 20;
  }
}

.body .main-banner__arrow-disabled {
  opacity: 0.1;
}

.body .main-banner__arrow::after {
  color: #542D84;
  line-height: 36px;
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .body .main-banner__arrow::after {
    color: #FFFFFF;
    line-height: 36px;
    font-size: 36px;
    font-weight: 700;
  }
}

.body .main-banner__bullets > .swiper-pagination-bullet {
  background-color: #C4C4C4;
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {
  .body .main-banner__bullets > .swiper-pagination-bullet {
    display: none;
  }
}

.body .main-banner__bullets > .swiper-pagination-bullet-active {
  background-color: #8D94BA;
}

.body .main-banner__mobile-content {
  display: none;
}

@media (max-width: 1024px) {
  .body .main-banner__mobile-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(72.92%, #00000099));
    background: linear-gradient(180deg, #00000000 0%, #00000099 72.92%);
  }
  .body .main-banner__mobile-content > h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
  }
  .body .main-banner__mobile-content > h3 {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
  }
  .body .main-banner__mobile-content > span {
    margin: 15px;
  }
  .body .main-banner__mobile-content > button {
    margin-top: 5px;
    margin-bottom: 45px;
    width: 60%;
    min-height: 46px;
    background-color: #32BCAD;
    border: none;
    font-family: 'Mulish';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
  }
}

@media (max-width: 1024px) {
  .body .main-banner__wrapper__image {
    -o-object-fit: none;
       object-fit: none;
    -o-object-position: 75% 50%;
       object-position: 75% 50%;
    width: 100%;
    height: 408px;
  }
}

.body .features-wrapper {
  background-color: #614B65;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .features-wrapper__swiper-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .features-wrapper__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .features-wrapper__text {
  margin-left: 15px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .features-wrapper__text--bold {
  font-size: 16px;
  font-weight: 700;
}

.body .features-wrapper__text--span {
  font-size: 12px;
  font-weight: 400;
}

.body .features-wrapper__text--strong {
  text-transform: uppercase;
}

.body .features-wrapper__arrow {
  display: none;
}

@media (max-width: 1024px) {
  .body .features-wrapper__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    background-image: url("./assets/img/nav_arrow.svg");
    width: 8.33px;
    height: 10.83px;
    line-height: 100%;
  }
}

.body .features-wrapper__arrow > .swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=styles.css.map */