$white: #FFFFFF;
$darkGrey: #5C5762;
$purple: #542D84;
$lightPurple: #8D94BA;
$darkViolet: #614B65;
$violet: #9A7AA0;
$red: #FFA4A4;
$yellow: #FFAA00;
$grey: #C4C4C4;
$lightGreen: #B4EDD2;
$green: #749497;