$white: #FFFFFF;
$lightGrey: #F1F1F1;
$grey: #C4C4C4;
$darkGrey: #5C5762;
$purple: #542D84;
$purplishGrey: #413543;
$lightPurple: #8D94BA;
$darkViolet: #614B65;
$violet: #9A7AA0;
$red: #FFA4A4;
$yellow: #FFAA00;
$lightGreen: #B4EDD2;
$green: #749497;
$black: #302E2B;